/*celular*/
@media screen and (min-width: 0px) {
    .cabecalho {
        background: #202024;
        margin: 0 auto;
    }

    .cabecalho__container {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        width: 100%;
    }

    .cabecalho__container-input-img {
        display: flex;
        flex-direction: column;
        /*border: solid 1px red;*/

    }

    .cabecalho__logo {
        width: 160px;
        display: flex;
        align-self: center;
        cursor: pointer;
    }

    .cabecalho__caixa-pesquisar {
        align-self: center;
        width: 80%;
        font-size: 1rem;
        color: var(--branco-fumaca);
        background: #121214;
        border-radius: 10px;
        padding: 10px;
        border: none;
        outline: none;
        resize: none;
    }

    .cabecalho__btn-login {
        margin-top: 10px;
        padding: 10px;
        text-align: center;
        align-self: center;
        font-family: var(--ralewey);
        font-weight: lighter;
        border: var(--azul) 1px solid;
        color: var(--azul);
        width: 5rem;
        text-decoration: none;
    }
}


/*tablet*/
@media screen and (min-width: 768px) {
    .cabecalho {
        margin: 0 auto;
        width: 100%;
    }

    .cabecalho__container {
        display: flex;
        flex-direction: row;
        padding: 20px 0;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .cabecalho__container-input-img {
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: space-between;
    }

    .cabecalho__logo {
        width: 160px;
    }

    .cabecalho__caixa-pesquisar {
        width: 60%;
        font-size: 1.2rem;
    }

    .cabecalho__btn-login {
        width: 6rem;
    }
}



/*desktop*/
@media screen and (min-width: 1024px) {
    .cabecalho {
        margin: 0 auto;
    }

    .cabecalho__container {
        padding: 20px 0;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

    }

    .cabecalho__container-input-img {
        display: flex;
        width: 55%;
        justify-content: space-between;
    }

    .cabecalho__logo {
        width: 180px;
    }

    .cabecalho__caixa-pesquisar {
        width: 60%;
    }

    .cabecalho__btn-login {
        width: 8rem;

    }
}