.cabecalho{
    display: flex;
    justify-content: space-between;
    background: #202024;
    margin: 0 auto;
}

.cabecalho__container{
    padding: 40px 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    /*border: solid 1px red;*/
    justify-content: space-between;
}

.cabecalho__logo{
    color: var(--branco-fumaca);
}

.cabecalho__caixa-pesquisar{
    margin-right: 350px;
    width: 500px;
    font-size: 1.5rem;
    color: var(--branco-fumaca);
    background: #121214;
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
}

.cabecalho__btn-login{
    font-family: var(--ralewey);
    font-weight: lighter;
    border: var(--azul) 1px solid;
    color: var(--azul);
    width: 10rem;
    padding: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}