@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



:root{
    --preto: #000000;
    --opensans: 'Open Sans', sans-serif;
    --branco: #FFF;
    --branco-fumaca: #F5F5F5;
    --black: #0000;

    
}

body{
    color: var(--branco);
    background-color: var(--preto);
    font-family: var(--opensans);
    font-size: 2rem;
}