@media screen and (min-width: 0px) {
    .adicionarProduto__flex-container {
        margin: 0 auto;
        width: 95%;
        margin-top: 4%;
    }

    h1 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 3rem;
    }

    .adicionarProduto__input {
        background: #202024;
        margin: 1rem 0;
        padding: 15px;
        font-size: 1.1rem;
        color: var(--branco-fumaca);
        border: none;
        outline: none;
        resize: none;
    }

    .adicionarProduto__input:focus {
        border: solid 1px var(--azul);
    }

    .adicionarProduto__botao {
        margin-top: 1rem;
        font-size: 1.2rem;
        padding: 10px;
        background: var(--azul);
        color: var(--branco-fumaca);
        border: none;
        outline: none;
        cursor: pointer;
    }
    .adicionarProduto__botao-hidden{
        display: none;
    }

    .editarProduto__botao{
        margin-top: 1rem;
        font-size: 1.2rem;
        padding: 10px;
        background: green;
        color: var(--branco-fumaca);
        border: none;
        outline: none;
        cursor: pointer;
    }

    .editarProduto__botao-hidden{
        display: none;
    }

}


/*TABLET*/
@media screen and (min-width: 768px) {
    .adicionarProduto__flex-container {
        margin: 0 auto;
        width: 70%;
        margin-top: 4%;
    }

    h1 {
        font-size: 2rem;
        font-weight: bold;
    }
}



/*PC*/
@media screen and (min-width: 1024px) {
    .adicionarProduto__flex-container {
        margin: 0 auto;
        width: 40%;
        margin-top: 4%;
    }

    h1 {
        font-size: 2rem;
        font-weight: bold;
    }
}